/*--------------------
Mixins
--------------------*/


/*--------------------
Body
--------------------*/

@font-face {
    font-family: RobotoBot;
    src: url("./../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: RobotoBold;
    src: url("./../fonts/Roboto/Roboto-Bold.ttf");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: linear-gradient(135deg, #044f48, #345093);
    background-size: cover;
    background: #fff;
    font-family: RobotoBot, sans-serif;
    font-size: 14px;
    line-height: 1.3;
    overflow: hidden;
}

.bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    /* background: url('https://images.unsplash.com/photo-1451186859696-371d9477be93?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925') no-repeat 0 0;*/
    -webkit-filter: blur(80px);
    filter: blur(80px);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    background: #fff;
}


/*--------------------
Chat
--------------------*/

.chat {
    position: relative;
    width: 100%;
    height: calc(100% - 0px);
    max-height: 600px;
    z-index: 10;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


/*-----
footer style
---*/

.fotstyle {
    font-family: RobotoBot, sans-serif;
    color: #FFFFFF;
    font-style: normal;
    background: #AA0D0A;
    height: 24px;
}

.pstyle {
    color: #FFFFFF;
    margin-top: 6px;
    text-align: center;
    font-size: 10px;
}

.imgstyle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    height: 80px;
    margin-top: 8px;
}

.imgstyle2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
    height: auto;
    margin-top: 20px;
}

.greetings {
    font-family: 'RobotoBold', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #AA0D0A;
    font-size: 24px;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.paragraph {
    color: #838383;
    font-family: RobotoBot, sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin: 10px;
    margin-bottom: 0px;
    align-items: center;
    text-align: center;
}

.paragraphModal {
    color: #838383;
    font-family: RobotoBot, sans-serif;
    font-size: 14px;
    text-align: center;
}

.divForm {
    margin: 0 1rem;
    font-family: RobotoBot, sans-serif;
    padding: 10px;
    padding-top: 0px;
}

.formFlex {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.inputclass {
    color: #575555;
    height: 20px;
    background: #FFFFFF;
    /* UiColor/Gray */
    border: 1px solid #838383;
    box-sizing: border-box;
    border-radius: 62px;
    width: 100%;
    padding: 15px;
    outline-style: none;
    font-family: RobotoBot, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 14px;
}

.selectclass {
    color: #575555;
    height: 20px;
    background: #FFFFFF;
    /* UiColor/Gray */
    border: 1px solid #838383;
    box-sizing: border-box;
    border-radius: 62px;
    width: 100%;
    height: 30px;
    padding: 5px;
    outline-style: none;
    font-family: RobotoBot, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 14px;
}

.inputTextarea {
    color: #575555;
    height: 70px;
    background: #FFFFFF;
    /* UiColor/Gray */
    border: 1px solid #838383;
    box-sizing: border-box;
    border-radius: 15px;
    width: 100%;
    padding: 15px;
    outline-style: none;
    font-family: RobotoBot, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 14px;
}

.labelForm {
    color: #838383;
    text-align: left;
    margin-left: 5px;
    left: 5px;
    font-family: RobotoBot, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.buttonContinue {
    font-family: 'RobotoBold', sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    background: #AA0D0A;
    border-radius: 40px;
    height: 28px;
    width: 60%;
    border: 0;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 19%;
    margin-bottom: 5px;
}

.buttonClose {
    font-family: 'RobotoBold', sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    background: #AA0D0A;
    border-radius: 40px;
    height: 28px;
    width: 60%;
    border: 0;
    cursor: pointer;
}

paper-dialog.size-modalData {
    position: fixed;
    bottom: 201px;
    width: 300px;
    right: 55px;
    overflow: auto;
}

paper-dialog.size-modalTerms {
    position: fixed;
    width: 300px;
    right: 55px;
    max-height: 410px !important;
    overflow: auto;
    word-break: break-word;
}

.buttons {
    justify-content: center;
}


/*--------------------
Chat Title
--------------------*/

.chat-title {
    flex: 0 1 45px;
    position: relative;
    z-index: 2;
    width: 100%;
    border-bottom: 1px solid #ccc;
    color: #777;
    padding-top: 30px;
    padding-bottom: 5px;
    background-color: #AA0D0A;
    text-transform: uppercase;
    text-align: center;
}

.chat-title h1,
.chat-title h2 {
    font-weight: normal;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.chat-title h2 {
    /* color: rgba(255, 255, 255, .8);*/
    font-size: 11px;
    letter-spacing: 1px;
}

.chat-title .avatar {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 9px;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 1px solid #fff;
}

.chat-title .avatar img {
    width: 100%;
    height: auto;
}


/*--------------------
Messages
--------------------*/

.messages {
    flex: 1 1 auto;
    /*  color: rgba(255, 255, 255, .5);
  color: #fff;*/
    overflow: hidden;
    position: relative;
    width: 100%;
    font-family: RobotoBot, sans-serif;
}

.messages .messages-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 99%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.messages .message {
    clear: both;
    float: left;
    padding: 6px 10px 7px;
    border-radius: 20px 20px 20px 0;
    background: #eee;
    /*rgba(0, 0, 0, 0.1);*/
    margin: 8px 0;
    font-size: 14px;
    line-height: 1.4;
    margin-left: 35px;
    position: relative;
    border: 1px solid #ccc;
    /*text-shadow: 0 1px 1px rgba(0, 0, 0, .2);*/
}

.messages .message .timestamp {
    position: absolute;
    bottom: -15px;
    font-size: 10px;
    color: #555;
    right: 30px;
    /* color: rgba(255, 255, 255, .7);*/
}

.messages .message .checkmark-sent-delivered {
    position: absolute;
    bottom: -15px;
    right: 10px;
    font-size: 12px;
    color: #999;
}

.messages .message .checkmark-read {
    color: blue;
    position: absolute;
    bottom: -15px;
    right: 16px;
    font-size: 12px;
}

.messages .message::before {
    /*  content: '';
    position: absolute;
    bottom: -6px;
    border-top: 6px solid rgba(0, 0, 0, 0.1);
    left: 0;
    border-right: 7px solid transparent;*/
}

.messages .message .avatar {
    position: absolute;
    z-index: 1;
    top: -2px;
    left: -35px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.messages .message .avatar img {
    width: 100%;
    height: auto;
}

.messages .message .avatarUser {
    position: absolute;
    z-index: 1;
    top: -2px;
    right: -32px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.messages .message .avatarUser img {
    width: 100%;
    height: auto;
}

.messages .message.message-personal {
    word-wrap: break-word;
    font-family: RobotoBot, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    float: right;
    min-width: 100px;
    max-width: 75%;
    text-align: center;
    margin-right: 35px;
    /*      background: linear-gradient(120deg, #ddd, #eee);*/
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 0px 10px 10px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-animation: bounce 500ms linear both;
    animation: bounce 500ms linear both;
}

.messages .message.message-personal::before {
    /*
      content:"";
  border-color:#4A90E2 transparent;
    width:0;
    border-style:solid;*/
    /*
 left: auto;
 right: 0;
 border-right: none;
border-left: 8px solid transparent;
 border-top: 9px solid #fff;
 
 bottom: -8px;*/
}

.messages .message:last-child {
    margin-bottom: 30px;
}

.messages .message.new {
    word-wrap: break-word;
    min-width: 100px;
    max-width: 75%;
    font-family: RobotoBot, sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin: 0px 45px;
    background: #AA0D0A;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px 10px 10px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-animation: bounce 1000ms linear both;
    animation: bounce 1000ms linear both;
}

.messages .message.loading span {
    height: 15px;
    width: 15px;
    float: left;
    margin: 0 1px;
    background-color: #9e9ea1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
}

.messages .message.loading span:nth-of-type(1) {
    animation: 1s blink infinite 0.3333s;
}

.messages .message.loading span:nth-of-type(2) {
    animation: 1s blink infinite 0.6666s;
}

.messages .message.loading span:nth-of-type(3) {
    animation: 1s blink infinite 0.9999s;
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}

@keyframes bulge {
    50% {
        transform: scale(1.05);
    }
}


/*--------------------
Message Box
--------------------*/
.message-box .message-submit-menu {
    position: absolute;
    z-index: 1;
    top: 14px;
    right: 48px;
    color: var(--main-color);
    font-weight: bold;
    border: none;
    /* background: #c29d5f;*/
    background: #fff;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1;
    border-radius: 5px;
    outline: none !important;
    transition: background 0.2s ease;
    cursor: pointer;
}

.message-box {
    flex: 0 1 42px;
    width: 99%;
    background: #fff;
    margin: 2px auto;
    /*-webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4);
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4);*/
    /*background: rgba(0, 0, 0, 0.3);
    border-top:1px solid #e3e3e3;*/
    padding: 10px;
    position: relative;
    height: 14px;
    border-top: 1px solid #ccc;
}

.message-box .message-input {
    font-family: RobotoBot, sans-serif;
    background: none;
    border: none;
    outline: none !important;
    resize: none;
    /* color: rgba(255, 255, 255, .8);*/
    font-size: 15px;
    height: 24px;
    margin: 0;
    padding-right: 20px;
    width: 95%;
    color: #444;
}

.message-box textarea:focus:-webkit-placeholder {
    color: transparent;
}

.message-box .message-submit {
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 10px;
    color: #4A90E2;
    border: none;
    /* background: #c29d5f;*/
    background: #fff;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1;
    border-radius: 5px;
    outline: none !important;
    transition: background .2s ease;
    cursor: pointer;
}

.message-box .message-submit:hover {
    background: #fff;
    color: #333;
}


/*--------------------
Custom Srollbar
--------------------*/

.mCSB_scrollTools {
    margin: 1px -3px 1px 0;
    opacity: 0;
}

.mCSB_inside>.mCSB_container {
    margin-right: 0px;
    padding: 0 10px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(0, 0, 0, 0.5) !important;
}


/*--------------------
Bounce
--------------------*/

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4.7% {
        -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    9.41% {
        -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    14.11% {
        -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    18.72% {
        -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    24.32% {
        -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.93% {
        -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    35.54% {
        -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    41.04% {
        -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    52.15% {
        -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    63.26% {
        -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    85.49% {
        -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4.7% {
        -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    9.41% {
        -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    14.11% {
        -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    18.72% {
        -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    24.32% {
        -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    29.93% {
        -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    35.54% {
        -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    41.04% {
        -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    52.15% {
        -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    63.26% {
        -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    85.49% {
        -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}

@-webkit-keyframes ball {
    from {
        -webkit-transform: translateY(0) scaleY(0.8);
        transform: translateY(0) scaleY(0.8);
    }
    to {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@keyframes ball {
    from {
        -webkit-transform: translateY(0) scaleY(0.8);
        transform: translateY(0) scaleY(0.8);
    }
    to {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}


/* cambiar tamaño chat*/

.avenue-messenger {
    opacity: 1;
    border-radius: 20px;
    height: calc(100% - 60px) !important;
    max-height: 600px !important;
    min-height: 220px !important;
    width: 330px;
    /*  transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
  */
    background: #FAFAFA;
    position: fixed;
    right: 80px;
    bottom: 20px;
    margin: auto;
    z-index: 1000;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    /*  transform: translateX(300px);*/
    -webkit-transition: 0.3s all ease-out 0.1s, transform 0.2s ease-in;
    -moz-transition: 0.3s all ease-out 0.1s, transform 0.2s ease-in;
}

.avenue-messenger div.agent-face {
    position: absolute;
    left: 0;
    top: -50px;
    right: 0;
    margin: auto;
    width: 101px;
    height: 50px;
    background: transparent;
    z-index: 12;
}

.avenue-messenger div {
    font-size: 14px;
    color: #232323;
}

.close {
    display: block;
    width: 100px;
    height: 100px;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 99em;
    opacity: 0.5;
    /*border: 1px solid #ccc;
  color:#ccc;*/
    /* -webkit-box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:    0px -1px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow:         0px -1px 2px 0px rgba(0, 0, 0, 0.5);*/
}

.close:hover {
    /*
-webkit-box-shadow:  0 1px 1px rgba(0,0,0,0.3);
-moz-box-shadow:  0 1px 1px rgba(0,0,0,0.3);
box-shadow: 0 1px 1px rgba(0,0,0,0.3);*/
    opacity: 0.9;
}

.circle {
    display: block;
    width: 80px;
    height: 80px;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 99em;
    border: 2px solid #fff;
    /*#4A90E2;*/
    /* -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
box-shadow: 0px 0px 10px rgba(0,0,0,.8);*/
}

.contact-icon .circle:hover {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    transition: 0.2s all ease-out 0.2s;
    -webkit-transition: 0.2s all ease-out 0.2s;
    -moz-transition: 0.2s all ease-out 0.2s;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #fff;
    border-width: 5px;
    margin-top: -5px;
}

.arrow_box {
    position: relative;
    background: #fff;
    border: 1px solid #4A90E2;
}

.arrow_box:after,
.arrow_box:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.menu div.items {
    /*  height: 140px;
    width: 180px;
    overflow: hidden;
    position: absolute;
    left: -130px;
    z-index: 2;
    top: 20px;*/
}

.menu .items span {
    color: #111;
    z-index: 12;
    font-size: 14px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 40px;
    height: 86px;
    line-height: 40px;
    background: #fff;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    width: 48px;
    opacity: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
}

.menu .button {
    font-size: 20px;
    z-index: 12;
    text-align: right;
    color: #FFFFFF;
    content: "X";
    display: block;
    width: 48px;
    line-height: 50px;
    height: 40px;
    border-top-right-radius: 20px;
    /*  border-top-left-radius:20px;*/
    position: absolute;
    right: 0;
    padding-right: 20px;
    cursor: pointer;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
}

.menu .button.active {
    background: #ccc;
}


/*
.menu .button:hover .menu .items span {
  display: block;
  left: -2px;
  opacity: 1;
}*/

.menu .items span.active {
    opacity: 1;
    /*border-radius:10px;
  height: 180px;
  width: 400px;
  transform:translateY(0);
  -webkit-transform:translateY(0);
  -moz-transform:translateY(0);*/
}

.menu .items a {
    color: #111;
    text-decoration: none;
}

.menu .items a:hover {
    color: #777;
}

@media only screen and (max-device-width: 667px),
screen and (max-width: 450px) {
    .avenue-messenger {
        z-index: 2147483001 !important;
        width: 100% !important;
        height: 100% !important;
        max-height: none !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        border-radius: 0 !important;
        background: #fff;
    }
    .imgstyle {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 30%;
        height: auto;
        margin-top: 15px;
    }
    .avenue-messenger div.agent-face {
        top: -10px !important;
        /* left:initial !important;*/
    }
    .chat {
        border-radius: 0 !important;
        max-height: initial !important;
    }
    .chat-title {
        padding: 20px 20px 15px 10px !important;
        text-align: center;
    }
    .circle {
        width: 80px;
        height: 80px;
        border: 1px solid #fff;
    }
    .menu .button {
        border-top-right-radius: 0;
    }
    paper-dialog.size-modalData {
        position: fixed;
        width: 280px !important;
        max-width: 300px !important;
        right: -8px !important;
        overflow: auto;
    }
    paper-dialog.size-modalTerms {
        position: fixed;
        width: 300px;
        right: -8px !important;
        max-height: 410px !important;
        overflow: auto;
        word-break: break-word;
    }
}

@media only screen and (min-device-width: 667px) {
    div.half {
        margin: auto;
        width: 80px;
        height: 40px;
        background-color: #fff;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        border-bottom: 0;
        box-shadow: 1px 4px 20px rgba(22, 20, 19, 0.6);
        -webkit-box-shadow: 1px 4px 20px rgba(22, 20, 19, 0.6);
        -moz-box-shadow: 1px 4px 20px rgba(22, 20, 19, 0.6);
    }
}

.server-response-suggestions {
    border-radius: 3px;
    font-size: 13px;
    clear: both;
    border-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.server-response-suggestions {
    background-color: rgba(0, 0, 0, 0);
    float: center;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 9%;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-animation: bounce 500ms linear both;
    animation: bounce 500ms linear both;
}

.server-response-suggestions .sug {
    font-family: RobotoBot, sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    background-color: #02000A;
    border: 1px solid #02000A;
    cursor: pointer;
    padding: 0.3em 0.5em;
    margin: 0.5em;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
    border-radius: 97px;
}

.server-response-suggestions .sug:hover {
    background-color: #388fb1;
}

.putTimestampUser {
    font-size: 9px;
    margin-top: 15px;
    margin-bottom: 0px;
    float: right;
}

.putTimestampBot {
    font-size: 9px;
    margin-bottom: 0px;
    margin-top: 15px;
    float: right;
}

.messages-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #ebebeb;
}

.messages-content::-webkit-scrollbar {
    width: 10px;
    background-color: #ebebeb;
}

.messages-content::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.44, #AA0D0A), color-stop(0.72, #a3273c), color-stop(0.86, #b8223b));
}

a:link {
    color: white;
}


/* visited link */

a:visited {
    color: white;
}


/* mouse over link */

a:hover {
    color: hotpink;
}


/* selected link */

a:active {
    color: white;
}